accelerate==0.25.0
diffusers==0.21.4
einops==0.3.0
imageio==2.9.0
ipdb==0.13.13
kornia==0.6.0
matplotlib==3.7.2
numpy==1.24.4
onnxruntime==1.19.2
opencv_python==4.5.5.64
opencv_python_headless==4.8.0.74
packaging==24.1
Pillow==11.0.0
rembg==2.0.59
segment_anything==1.0
torch==2.0.0
torchvision==0.15.0
tqdm==4.65.0
transformers==4.30.2
webdataset==0.2.5
