param==1.13.0
typing_extensions==4.12.2
tzdata==2024.2
stack-data==0.6.3
future==1.0.0
traitlets==5.14.3
uvicorn==0.32.0
certifi==2024.8.30
fonttools==4.54.1
urwid==2.6.16
imageio-ffmpeg==0.4.2
torch-fidelity==0.3.0
ffmpy==0.4.0
exceptiongroup==1.2.2
nvidia-nccl-cu11==2.20.5
sympy==1.13.3
pyparsing==3.2.0
PyYAML==6.0.2
nvidia-cusparse-cu11==11.7.5.86
numpy==1.24.4
sentry-sdk==2.18.0
nvidia-cuda-nvrtc-cu11==11.8.89
opencv-python-headless==4.10.0.84
scipy==1.9.1
fastcore==1.7.19
contourpy==1.3.0
requests==2.32.3
fastapi==0.115.5
aiohttp==3.11.0
nvidia-cuda-cupti-cu11==11.8.87
ipython==8.18.1
coloredlogs==15.0.1
lovely-numpy==0.2.13
Pillow==10.0.1
tensorboard-data-server==0.7.2
tifffile==2024.8.30
matplotlib-inline==0.1.7
pydeck==0.9.1
loguru==0.7.2
tqdm==4.67.0
jsonschema-specifications==2024.10.1
accelerate==0.25.0
nvidia-cuda-runtime-cu11==11.8.89
rich==13.9.4
PyWavelets==1.6.0
PyMatting==1.1.13
linkify-it-py==2.0.3
pydub==0.25.1
MarkupSafe==3.0.2
tomli==2.1.0
cycler==0.12.1
nvidia-curand-cu11==10.3.0.86
lightning-utilities==0.11.8
tensorboard==2.18.0
frozenlist==1.5.0
kiui==0.2.14
rembg==2.0.59
decorator==5.1.1
segment-anything==1.0
cachetools==5.5.0
braceexpand==0.1.7
python-multipart==0.0.17
sniffio==1.3.1
lazy_loader==0.4
torch==2.4.1+cu118
platformdirs==4.3.6
opencv-contrib-python==4.10.0.84
asttokens==2.4.1
imgaug==0.2.6
multidict==6.1.0
lpips==0.1.4
jedi==0.19.2
pytorch-lightning==2.4.0
fsspec==2023.6.0
wheel==0.44.0
starlette==0.41.2
huggingface-hub==0.16.4
nvidia-nvtx-cu11==11.8.86
lovely-tensors==0.1.17
matplotlib==3.9.2
absl-py==2.1.0
Jinja2==3.1.4
ConfigArgParse==1.7
mdit-py-plugins==0.3.3
aiohappyeyeballs==2.4.3
pandas==2.2.3
pytz==2024.2
xxhash==3.5.0
pexpect==4.9.0
jsonschema==4.23.0
kiwisolver==1.4.7
triton==3.0.0
streamlit==1.40.1
opencv-python==4.5.5.64
antlr4-python3-runtime==4.8
xformers==0.0.28
narwhals==1.13.5
onnxruntime==1.19.2
gradio==3.21.0
nvidia-cublas-cu11==11.11.3.6
docker-pycreds==0.4.0
async-timeout==5.0.1
click==8.1.7
pip==24.2
pooch==1.8.2
grpcio==1.67.1
zipp==3.21.0
transformers==4.30.2
pudb==2019.2
prompt_toolkit==3.0.48
httpcore==1.0.6
pydantic_core==2.23.4
plyfile==1.1
six==1.16.0
importlib_resources==6.4.5
torchmetrics==1.6.0
psutil==6.1.0
torchvision==0.19.1+cu118
blinker==1.9.0
urllib3==2.2.3
h11==0.14.0
anyio==4.6.2.post1
wcwidth==0.2.13
datasets==2.14.5
regex==2024.11.6
mdurl==0.1.2
nvidia-cudnn-cu11==9.1.0.70
rpds-py==0.21.0
nvidia-cufft-cu11==10.9.0.58
varname==0.13.5
aiosignal==1.3.1
ipdb==0.13.13
carvekit-colab==4.1.0
python-dateutil==2.9.0.post0
setuptools==75.1.0
attrs==24.2.0
filelock==3.16.1
Markdown==3.7
diffusers==0.18.2
einops==0.8.0
parso==0.8.4
tenacity==9.0.0
tornado==6.4.1
Pygments==2.18.0
webdataset==0.2.5
objprint==0.3.0
packaging==24.2
referencing==0.35.1
yarl==1.17.1
mpmath==1.3.0
annotated-types==0.7.0
nvidia-cusolver-cu11==11.4.1.48
pyarrow==18.0.0
gitdb==4.0.11
httpx==0.27.2
scikit-image==0.20.0
propcache==0.2.0
altair==5.4.1
numba==0.60.0
albumentations==0.4.3
humanfriendly==10.0
dill==0.3.7
kornia==0.6.0
flatbuffers==24.3.25
imageio==2.9.0
pydantic==2.9.2
llvmlite==0.43.0
smmap==5.0.1
toml==0.10.2
networkx==3.2.1
Werkzeug==3.1.3
multiprocess==0.70.15
omegaconf==2.1.1
uc-micro-py==1.0.3
termcolor==2.5.0
watchdog==6.0.0
safetensors==0.4.5
aiofiles==24.1.0
importlib_metadata==8.5.0
charset-normalizer==3.4.0
wandb==0.18.7
setproctitle==1.3.3
websockets==14.1
fire==0.4.0
pure_eval==0.2.3
tokenizers==0.13.3
plotly==5.13.1
orjson==3.10.11
idna==3.10
protobuf==5.28.3
GitPython==3.1.43
ptyprocess==0.7.0
markdown-it-py==2.2.0
test_tube==0.7.5
executing==2.1.0
importlib_metadata==8.0.0
typing_extensions==4.12.2
jaraco.functools==4.0.1
jaraco.collections==5.1.0
importlib_resources==6.4.0
zipp==3.19.2
platformdirs==4.2.2
autocommand==2.2.2
tomli==2.0.1
more-itertools==10.3.0
typeguard==4.3.0
backports.tarfile==1.2.0
inflect==7.3.1
wheel==0.43.0
jaraco.context==5.3.0
jaraco.text==3.12.1
packaging==24.1
